[submodule ".registry"]
	path = .registry
	url = https://github.com/ldecicco-usgs/universe
	shallow = true
	branch = HEAD
[submodule "dataRetrieval"]
	path = dataRetrieval
	url = https://github.com/USGS/dataRetrieval
	shallow = true
	registered = true
[submodule "EGRET"]
	path = EGRET
	url = https://code.usgs.gov/water/EGRET
	shallow = true
	registered = true
[submodule "smwrBase"]
	path = smwrBase
	url = https://github.com/USGS-R/smwrBase
	shallow = true
	registered = true
[submodule "smwrData"]
	path = smwrData
	url = https://github.com/USGS-R/smwrData
	shallow = true
	registered = true
[submodule "smwrGraphs"]
	path = smwrGraphs
	url = https://github.com/USGS-R/smwrGraphs
	shallow = true
	registered = true
[submodule "smwrStats"]
	path = smwrStats
	url = https://github.com/USGS-R/smwrStats
	shallow = true
	registered = true
[submodule "smwrQW"]
	path = smwrQW
	url = https://github.com/USGS-R/smwrQW
	shallow = true
	registered = true
[submodule "rloadest"]
	path = rloadest
	url = https://github.com/USGS-R/rloadest
	shallow = true
	registered = true
[submodule "toxEval"]
	path = toxEval
	url = https://code.usgs.gov/water/toxEval
	shallow = true
	registered = true
[submodule "EGRETci"]
	path = EGRETci
	url = https://code.usgs.gov/water/EGRETci
	shallow = true
	registered = true
