[submodule ".registry"]
	path = .registry
	url = https://github.com/ldecicco-usgs/universe
	shallow = true
	branch = HEAD
[submodule "dataRetrieval"]
	path = dataRetrieval
	url = https://github.com/USGS-R/dataRetrieval
	shallow = true
	registered = true
[submodule "tinkr"]
	path = tinkr
	url = https://code.usgs.gov/water/EGRET
	shallow = true
	registered = true
